@import './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.bg {
  @include fontTitle;
}

.wrapper {
  padding: 2% 3%;
}

@media (min-width: $laptop) {
  .wrapper {
    padding: 2% 16%;
  }
}

@media (min-width: $desktop) {
  .wrapper {
    padding: 1% 20%;
  }
}
